## Earthquake prediction using python

## Loading and preprossing of the data

In [55]:
# Importng required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [30]:
# Load the data to the book
import pandas as pd
df = pd.read_csv("csv files\database.csv")

In [31]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,23402,23403,23404,23405,23406,23407,23408,23409,23410,23411
Date,01/02/1965,01/04/1965,01/05/1965,01/08/1965,01/09/1965,01/10/1965,01/12/1965,01/15/1965,01/16/1965,01/17/1965,...,12/24/2016,12/25/2016,12/25/2016,12/27/2016,12/28/2016,12/28/2016,12/28/2016,12/28/2016,12/29/2016,12/30/2016
Time,13:44:18,11:29:49,18:05:58,18:49:43,13:32:50,13:36:32,13:32:25,23:17:42,11:32:37,10:43:17,...,03:58:55,14:22:27,14:32:13,23:20:56,08:18:01,08:22:12,09:13:47,12:38:51,22:30:19,20:08:28
Latitude,19.246,1.863,-20.579,-59.076,11.938,-13.405,27.357,-13.309,-56.452,-24.563,...,-5.146,-43.4029,-43.481,45.7192,38.3754,38.3917,38.3777,36.9179,-9.0283,37.3973
Longitude,145.616,127.352,-173.972,-23.557,126.427,166.629,87.867,166.212,-27.043,178.487,...,153.5166,-73.9395,-74.4771,26.523,-118.8977,-118.8941,-118.8957,140.4262,118.6639,141.4103
Type,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,...,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake
Depth,131.6,80.0,20.0,15.0,15.0,35.0,20.0,35.0,95.0,565.0,...,30.0,38.0,14.93,97.0,10.8,12.3,8.8,10.0,79.0,11.94
Depth Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8,1.9,3.3,1.8,1.3,1.2,2.0,1.8,1.8,2.2
Depth Seismic Stations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,34.0,40.0,33.0,NaN,NaN,NaN
Magnitude,6.0,5.8,6.2,5.8,5.8,6.7,5.9,6.0,6.0,5.8,...,5.8,7.6,5.6,5.6,5.6,5.6,5.5,5.9,6.3,5.5
Magnitude Type,MW,MW,MW,MW,MW,MW,MW,MW,MW,MW,...,MWW,MWW,MB,MWW,ML,ML,ML,MWW,MWW,MB
Magnitude Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.067,NaN,0.35,0.32,0.26,NaN,NaN,0.029
Magnitude Seismic Stations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,83.0,NaN,20.0,18.0,18.0,NaN,NaN,428.0
Azimuthal Gap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,29.0,96.0,14.0,35.86,42.47,48.58,91.0,26.0,97.0
Horizontal Distance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.648,0.351,0.697,0.465,0.132,0.12,0.129,0.992,3.553,0.681
Horizontal Error,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,6.8,7.1,5.1,NaN,NaN,NaN,4.8,6.0,4.5
Root Mean Square,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.85,0.8,0.52,0.78,0.1988,0.1898,0.2187,1.52,1.43,0.91
ID,ISCGEM860706,ISCGEM860737,ISCGEM860762,ISCGEM860856,ISCGEM860890,ISCGEM860922,ISCGEM861007,ISCGEM861111,ISCGEMSUP861125,ISCGEM861148,...,US10007MFP,US10007MN3,US10007MNB,US10007N3R,NN00570709,NN00570710,NN00570744,US10007NAF,US10007NL0,US10007NTD
Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEMSUP,ISCGEM,...,US,US,US,US,NN,NN,NN,US,US,US
Location Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,...,US,US,US,US,NN,NN,NN,US,US,US
Magnitude Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM,...,US,US,US,US,NN,NN,NN,US,US,US
Status,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,Automatic,...,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed,Reviewed

In [32]:
df.isna().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Type                    3
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
ID                                0
Source                            0
Location Source                   0
Magnitude Source                  0
Status                            0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [34]:
df.Date

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [35]:
df.Time

0        13:44:18
1        11:29:49
2        18:05:58
3        18:49:43
4        13:32:50
           ...
23407    08:22:12
23408    09:13:47
23409    12:38:51
23410    22:30:19
23411    20:08:28
Name: Time, Length: 23412, dtype: object

## Parsing dates
when we are using a timeseries data, we want to enrich the time and date component as much as possible.

we can do it buy telling pandas which of the colomns has dates in it using the parameter parse_dates.

In [36]:
df = pd.read_csv("csv files\database.csv",
                 low_memory=False,
                 parse_dates=["Date"])

In [37]:
df.Date

0        1965-01-02 00:00:00
1        1965-01-04 00:00:00
2        1965-01-05 00:00:00
3        1965-01-08 00:00:00
4        1965-01-09 00:00:00
                ...
23407    2016-12-28 00:00:00
23408    2016-12-28 00:00:00
23409    2016-12-28 00:00:00
23410    2016-12-29 00:00:00
23411    2016-12-30 00:00:00
Name: Date, Length: 23412, dtype: object

In [38]:
df.head().T

,0,1,2,3,4
Date,1965-01-02 00:00:00,1965-01-04 00:00:00,1965-01-05 00:00:00,1965-01-08 00:00:00,1965-01-09 00:00:00
Time,13:44:18,11:29:49,18:05:58,18:49:43,13:32:50
Latitude,19.246,1.863,-20.579,-59.076,11.938
Longitude,145.616,127.352,-173.972,-23.557,126.427
Type,Earthquake,Earthquake,Earthquake,Earthquake,Earthquake
Depth,131.6,80.0,20.0,15.0,15.0
Depth Error,NaN,NaN,NaN,NaN,NaN
Depth Seismic Stations,NaN,NaN,NaN,NaN,NaN
Magnitude,6.0,5.8,6.2,5.8,5.8
Magnitude Type,MW,MW,MW,MW,MW
Magnitude Error,NaN,NaN,NaN,NaN,NaN
Magnitude Seismic Stations,NaN,NaN,NaN,NaN,NaN
Azimuthal Gap,NaN,NaN,NaN,NaN,NaN
Horizontal Distance,NaN,NaN,NaN,NaN,NaN
Horizontal Error,NaN,NaN,NaN,NaN,NaN
Root Mean Square,NaN,NaN,NaN,NaN,NaN
ID,ISCGEM860706,ISCGEM860737,ISCGEM860762,ISCGEM860856,ISCGEM860890
Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM
Location Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM
Magnitude Source,ISCGEM,ISCGEM,ISCGEM,ISCGEM,ISCGEM
Status,Automatic,Automatic,Automatic,Automatic,Automatic


## Convert string into numbers

One way to convert all the data into numbers is by converting them into pandas categories.

In [39]:
pd.api.types.is_string_dtype(df.Source)

True

In [40]:
# Find the columns which contains string
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        print(label)

Date
Time
Type
Magnitude Type
ID
Source
Location Source
Magnitude Source
Status

In [41]:
# Converting all string values into categories
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        df[label] = content.astype("category").cat.as_ordered()

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  category
 1   Time                        23412 non-null  category
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  category
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  category
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  category
 17  Source                      23412 non-null  category
 18  Location Source             23412 non-null  category
 19  Magnitude Source            23412 non-null  category
 20  Status                      23412 non-null  category
dtypes: category(9), float64(12)
memory usage: 4.1 MB

Now the string columns are converted into categories.

In [46]:
df.Source.cat.categories

Index(['AK', 'ATLAS', 'CI', 'GCMT', 'ISCGEM', 'ISCGEMSUP', 'NC', 'NN',
       'OFFICIAL', 'PR', 'SE', 'US', 'UW'],
      dtype='object')

In [47]:
df.Source.value_counts()

US           20630
ISCGEM        2460
ISCGEMSUP      120
CI              61
GCMT            55
NC              51
AK              12
OFFICIAL         8
UW               6
NN               4
ATLAS            3
PR               1
SE               1
Name: Source, dtype: int64

In [48]:
df.Source.cat.codes

0         4
1         4
2         4
3         4
4         4
         ..
23407     7
23408     7
23409    11
23410    11
23411    11
Length: 23412, dtype: int8

Now we can remove the unnessesay features from dataframe

In [52]:
df = df[["Date", "Time", "Latitude", "Longitude", "Depth", "Magnitude"]]

In [53]:
df.head()

                  Date      Time  Latitude  Longitude  Depth  Magnitude
0  1965-01-02 00:00:00  13:44:18    19.246    145.616  131.6        6.0
1  1965-01-04 00:00:00  11:29:49     1.863    127.352   80.0        5.8
2  1965-01-05 00:00:00  18:05:58   -20.579   -173.972   20.0        6.2
3  1965-01-08 00:00:00  18:49:43   -59.076    -23.557   15.0        5.8
4  1965-01-09 00:00:00  13:32:50    11.938    126.427   15.0        5.8

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       23412 non-null  category
 1   Time       23412 non-null  category
 2   Latitude   23412 non-null  float64
 3   Longitude  23412 non-null  float64
 4   Depth      23412 non-null  float64
 5   Magnitude  23412 non-null  float64
dtypes: category(2), float64(4)
memory usage: 1.8 MB

In [ ]:
We have done the preprossesing of the dataset.